#nav-menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 120px;
  height: 100vh;
  background-color: var(--black);
  color: var(--lightgray);
}
#menu-items-wrapper {

}
.menu-item {
  margin: 2rem 0;
  padding: 1rem 1rem;
  background-color: dodgerblue;
  list-style-type: none;
  text-align: center;
}
.menu-item:hover {
  cursor: pointer;
}


/* Spinning Logo */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vh;
  font-family: var(--fontBrand);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
