#welcome-wrapper {
  max-width: 100vw;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /*background: #090614;*/
  /*border: 10px solid var(--blue);*/
  border-radius: 0.4rem;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#particles, canvas{
  height: 100vh !important;
  width: 100vw !important;
  margin: 0;
  padding: 0;
}
#mcdev-logo {
  position: absolute;
  max-width: 60vw;
  /*min-width: 180px;*/
}
#enter-button {
  position: absolute;
  z-index: 99999;
  font-family: var(--fontBrand2);
  font-size: 1.8rem;
  max-width: 300px;
  max-height: 150px;
  margin-top: 30vh;
  padding: 1rem 1.2rem;
  color: white;
  background-color: none;
  border: 1px solid var(--darkgray);
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#enter-button:hover {
  cursor: pointer;
  background-color: var(--black);
  border-color: var(--lightgray);
  color: var(--blue);
}
#enter-button-img {
  margin-left: 1rem;
  max-width: 55px;
  transform: rotate(-10deg);
  transition: transform 1s;
}
