.main-content-wrapper {
  min-height: (100vh);
  min-width: (100vw - 120px);
  padding: 0;
  margin: 0;
}
.center-me {
  text-align: center;
}
body {
  margin-left: 120px;
  font-family: var(--fontMain);
  background-color: var(--darkgray);
}
